{% extends "layout.jinja2" %}
  {% block body %}
        <h4 class="error-msg">{{ error_msg }}</h4>
        <div class="single-entry">

        <form action="{{ request.route_url('update', id=entry.id) }}" method="POST">

           <div class="entry-title">
              <h3>Title:</h3>
             <input class="new-entry-title" type="text" name="title" value="{{ entry.title }}"/>
            </div>


            <div class='entry-body'>
              <h3>Notes:</h3>
              <input class='new-entry-body'  type="text" name="body" value="{{ entry.body }}"/>
            </div>

            <input type=submit class="button" value="Submit"/>

        </form>
        </div>

  {% endblock %}

