<!DOCTYPE html>
<html>

    <head>

      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=PT+Serif|Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/base.css">

    </head>

    <body>

        <header>
              <h1>Learning Journal<h1>
              <h3>Code 401 - Software Development in Python</h3>
              <h5>owner: Tatiana Weaver</h5>          
        </header>

        <main>
              <div class=button>
                    <h3><a href="{{request.route_url('login')}}">Log In</a></h3>
              </div>
        </main>

    </body>

    <footer>
        <p>Code Fellows | Code 401 - Python </p>
    </footer>

</html>